.app {
  margin-left: 20px;
  margin-top: 20px;
}

.counter {
  width: 100vw;
}

.counter img {
  height: 150px;
  margin: 10px 10px 0 0;
}

.todos {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.todos form {
  margin-top: 16px;
}

.todos ul {
  padding-left: 0;
}

.todos li {
  font-family: 'Creepster';
  font-size: 50px;
  color: orange;
}

.todos input[type='submit'] {
  margin-left: 1em;
  padding: 10px;
}

.search-index ul {
  padding-left: 0;
}

.search-index li {
  margin-left: 1em;
}
